@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar biar aplikasi ProcureAI makin ganteng */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* slate-950 */
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
}